.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    /* margin: auto; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .img-avatar{
      width: 64px;
  }
  .form-floating .form-control{
    background-color: rgb(0 0 18 / 25%);
    color: #d3d3d3;
    border: 1px solid rgb(252 252 252 / 25%);
    font-size: 0.9rem;
    font-weight: 500;
  }
  .form-floating .form-control:focus{
    box-shadow: none;
  }
  .form-floating label{
    color: #6c757d;
    font-size: 0.9rem;
    padding: 1.2rem 0.75rem;
  }
  .login-form{
    padding: 15px;
    border: 1px solid rgb(252 252 252 / 25%);
    border-radius: 8px;
    background-color: rgb(0 0 15 / 85%);
    /* position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(-5%, -50%); */
    width: 100%;
  }
  .link-default{
    font-size: 0.9rem;
    text-decoration: none;
    color: royalblue;
  }