:root {
  --brand-text-color: #E74C3C;
}
html,body{
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ecf0f1;
  padding-top: 42px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
div#root{
  height: 100%;
}
.bg-Login{
  background-image:url(./assets/login-bg.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 0;
}
.app-logo{
  width: 136px;
  margin: 20px 0 0 20px;
}
.default-font-size{
  font-size: 0.9rem;
}

ul.navbar-nav .nav-link{
  font-size: 0.9rem;
  font-weight: 500;
  color: #6c757d !important;
}
ul.navbar-nav .nav-link.active{
  color: #e74c3c !important;
}

.userInfo{
  color: #1e272e;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  display: block;
  padding: 0;
  padding-left: 38px !important;
  background-image: url('./assets/_user.png');
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: center left;
  text-transform: capitalize;
}
.userInfo small{
  color: #9a9a9a;
  font-size: 0.725rem;
  font-weight: 500;
  display: block;
}
.dropdown-item{
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}


table.table-custom thead th{
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(236 240 241 / 85%);
  white-space: nowrap;
}
table.table-custom tbody tr{
  cursor: pointer;
}
table.table-custom tbody td{
  font-size: 0.9rem;
  vertical-align:middle;
  font-weight: 500;
  color: #1e272e;

  border-color: #ecf0f1 !important;
}
.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.0rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: box-shadow .15s ease-in-out;
}
.chart-Holder{
  width: 350px;
}

.form-label{
  font-size: 0.9rem;
  margin-bottom: 0.15rem;
}

.breadcrumb{

  font-size: 0.9rem;
  margin-bottom: .5rem;
}
.breadcrumb li.breadcrumb-item a{
  color: var(--brand-text-color);
  text-decoration: none;
  font-weight: 500;
}
.breadcrumb li.active{
  font-weight: 500;
}
.breadcrumb-item+.breadcrumb-item::before {
  float: left;
  padding-right: .5rem;
  color: #6c757d;
  content: var(--bs-breadcrumb-divider, "\00BB");
}

p.secondary-text.mb-0 {
  color: #7F8C8D;
}

.form-control,.form-select {
  font-size: 0.9rem;
}
.zIndex{
  z-index: 100000;
}


.badge.bg-danger{
  background-color: rgb(220 53 69 / 15%) !important;
  border: 1px solid rgb(220 53 69 / 12%);
  color: #F92313;
}

.badge.bg-success{
  background-color: rgb(87 206 151 / 15%) !important;
  border: 1px solid rgb(87 206 151 / 12%);
  color: #16941B;
}
.badge.bg-dark{
  background-color: rgb(33 37 41 / 15%) !important;
  border: 1px solid rgb(33 37 41 / 15%);
  color: #212529;
}

.badge.bg-primary{
  background-color: rgb(13 110 253 / 15%) !important;
  border: 1px solid rgb(1  67 163 / 12%);
  color: #0143a3;
}

.btn i.bi{
  font-size: 1.15rem;
}
a.lnkAction {
  text-decoration: none;
  font-size: 0.9rem;
}
.searchBox {
  width: 200px;
}
.tags-input {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 48px;
  width: 100%;
  padding: 0 8px;
  border: 1px solid #d6d8da;
  border-radius: 6px;
}
.tags-input:focus-within {
  border: 1px solid #0052cc;
}
.tags-input input {
  flex: 1;
  border: none;
  height: 46px;
  font-size: 14px;
  padding: 4px 0 0 0;
}
.tags-input input:focus {
  outline: transparent;
}

ul.ultag{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 8px 0 0 0;
}

.tag {
  width: auto;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(44 58 71 /100%);
  padding: 0 4px 0 8px;
  font-size: 0.9rem;
  list-style: none;
  border-radius: 8px;
  margin: 0 8px 8px 0;
  background: rgb(44 58 71 /15%);
  font-weight: 500;
  border: 1px solid rgb(44 58 71 /12%);
}
.tag .tag-title {
  margin-top: 0px;
}
.tag .tag-close-icon {
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 0.9rem;
  margin-left: 8px;
  /* color: #0052cc;
  border-radius: 50%;
  background: #fff; */
  cursor: pointer;
}

@media screen and (max-width: 567px) {
  .tags-input {
    width: calc(100vw - 32px);
  }
}

div.loading-ui-overlay.dark div.loading-ui-wrapper div.loading-ui-body {
  background-color: transparent !important;
  color: #fff;
  box-shadow: 0px 0px 0px 0px rgba(117, 117, 117, 0) !important;
}
div.loading-ui-overlay.dark {
  background-color: rgba(44, 62, 80,0.65) !important;
}
div.loading-ui-overlay div.loading-ui-wrapper div.loading-ui-body div.loading-ui-spinner {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: .25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border .75s linear infinite;
  color: rgba(192, 57, 43,1.0) !important;
  margin: 0 auto;
}
sup{
  color: #f00;
  font-size: 0.75rem;
}